{% for item in results %}
<li class="my-4 p-2 border border-2 rounded">

    <p class="font-bold py-1">{{ item.name }}</p>

    <p>{{ item.description }}</p>

    {% if item.read_only %}
    <p>This option is read-only!</p>
    {% endif %}

    <div class="py-2 grid grid-cols-7">
        <p>Type</p>
        <code class="col-span-6">
            {{item.option_type}}
        </code>

        <p>Default</p>
        <code class="col-span-6">
            {{item.default}}
        </code>

        <p>Example</p>

        <code class="col-span-6">
            {{item.example}}
        </code>
    </div>

    <div>
        <ul>
        {% for s in item.declarations %}
            <li>{{ s }}</li>
        {% endfor %}
        </ul>
    </div>
</li>
{% endfor %}

