{% for item in results %}
<li class="my-4 p-2 border border-2 rounded">

    <p class="font-bold py-1">{{ item.name }}</p>

    <p>{{ item.description }}</p>

    <p>Type: `{{item.option_type}}`</p>

    {% if item.read_only %}
    <p>This option is read-only!</p>
    {% endif %}

    <p>Default: `{{item.default}}`</p>

    {% if item.example != "" %}
    <p>Example</p>

    <p>{{item.example}}</p>
    {% endif %}

    <div>
        Declared in:
        <ul>
        {% for s in item.declarations %}
            <li>{{ s }}</li>
        {% endfor %}
        </ul>
    </div>
</li>
{% endfor %}

