{% for item in results %}
<li class="my-4 p-4 border border-1 rounded-md">

    <div id={{item.name}} class="font-bold py-1 text-lg text-fc-green">
        <a href="#{{item.name}}">{{ item.name }}</a>
    </div>

    <p class="pb-2">{{ item.description|safe }}</p>

    {% if item.read_only %}
    <p>This option is read-only!</p>
    {% endif %}

    <div class="pb-2 pt-4 grid grid-cols-7 space-y-2">
        <p class="self-center">Type</p>
        <code class="col-span-6 whitespace-pre bg-gray-100 p-2 rounded">{{item.option_type}}</code>

        {% if item.default.0 != "" %}
        <p class="self-center">Default</p>
        <code class="col-span-6 whitespace-pre bg-gray-100 p-2 rounded">{{ item.default|safe }}</code>
        {% endif %}

        {% if item.example.0 != "" %}
        <p class="self-center">Example</p>
        <code class="col-span-6 whitespace-pre bg-gray-100 p-2 rounded">{{ item.example|safe }}</code>
        {% endif %}

        <p class="self-center">Declarations</p>
        <div>
            <ul class="w-full rounded py-1">
                {% for s in item.declarations %}
                    <li class="text-sm whitespace-nowrap w-full">{{ s|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</li>
{% endfor %}

{% if results.len() >  0 %}
{% include "pagination.html" %}
{% endif %}
