{% for item in results %}
<li class="my-4 p-2 border border-1 rounded-md">

    <div id={{item.name}} class="font-bold py-1 text-fc-green">
        <a href="#{{item.name}}">{{ item.name }}</a>
    </div>

    <p>{{ item.description|safe }}</p>

    {% if item.read_only %}
    <p>This option is read-only!</p>
    {% endif %}

    <div class="py-2 grid grid-cols-7">
        <p>Type</p>
        <code class="col-span-6">
            {{item.option_type}}
        </code>

        <p>Default</p>
        <code class="col-span-6">
            {{ item.default|safe }}
        </code>

        <p>Example</p>

        <code class="col-span-6">
            {{ item.example|safe }}
        </code>
    </div>

    <div>
        <ul>
        {% for s in item.declarations %}
            <li>{{ s|safe }}</li>
        {% endfor %}
        </ul>
    </div>
</li>
{% endfor %}

{% if results.len() >  0 %}
{% include "pagination.html" %}
{% endif %}
