{% for item in results %}
<li class="my-4 p-4 border border-1 rounded-md">

    <p class="font-bold py-1 text-fc-green">{{ item.attribute_name }}</p>

    <p>{{ item.description.clone().unwrap_or_default() }}</p>

    <div class="py-2 grid grid-cols-7">
        <p>Version</p>
        <code class="col-span-6">
            {{ item.version.clone().unwrap_or_default() }}
        </code>

        <p>License</p>
        <code class="col-span-6">
            {{ item.license.as_html()|safe }}
        </code>

        <p>Homepage</p>
        <code class="col-span-6">
            {{ item.homepage.as_html()|safe }}
        </code>
    </div>
</li>
{% endfor %}
