<!doctype html>
<html lang="en">
    <head>
        <link href="/assets/tailwind.css" rel="stylesheet" />
        <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

        <title>Hi, World!</title>
    </head>
    <body>
        <h1 class="flex">
            Hello, {{ name }}!
        </h1>
    </body>
</html>
